.underline {
    color: red;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;   
    background-color: #f1f1f1;
    margin-top: 300px; 
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; 
}

footer li {
    display: inline;         
    margin: 0 10px;        
}

footer a {
    text-decoration: none;   
    color: #333;              
}

footer a:hover {
    color: #007acc;            
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
}

video {
    margin-top: 400px;
    width: 1300px;
    height: auto;
}

